/*
==============================================
               RESETEO GENERAL
==============================================
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: Lightgray;
  margin-left: 20px;
  margin-right: 20px;
}
.encabezado, .contenedor, .pie {
  margin-top: 5px;
  margin-bottom: 5px;
}
/*
==============================================
                 HEADER
==============================================
*/
.encabezado {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #F54C4C; /*rojo*/
}
h1, h2, h3, h4, h5 {
  text-align: center;
  color: black;
}
.lista {
  background-color: #18F555; /*verde*/
  border-radius: 20px;
  margin-bottom: 5px;
}
div.lista ol {
  padding-left: 60px;
}
.pgPrin a {
  color: #F5C61B; /*naranja*/
  background-color: #3344F5; /*morado*/
  font-size: 50px;
}
.pgPrin a i {
  margin-right: 35px;
  padding-left: 0px;
}
.menuBarra {
  background-color: orange;
  border-radius: 20px;
}
.menuBarra a {
  color: #3344F5; /*morado*/
  justify-content: center;
}
.menuBarra a:hover {
  background-color: lightgreen;
}
/*
==============================================
              SECTION
==============================================
*/
                /*INDEX*/
.contenedor {
  background-color: #6E7AF5; /*morado suave*/
  border-radius: 12px;
  padding: 5px;
}
p {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
img {
  min-width: 60%;
  max-width: 350px;
  height: auto;
  border-radius: 20px;
}
.ima {
  display: flex;
  justify-content: center;
}
article p a {
  color: #18F555; /*verde*/
  font-size: 18px;
}
h5 {
  text-align: center;
}
             /*SONIDO*/
.contenedor h3 {
  margin-bottom: 5px;
}
.music {
  text-align: center;
  margin-bottom: 10px;
}
.music h4 {
  margin-bottom: 5px;
}
             /*VIDEO*/
.contenido iframe {
  text-align: center;
}
             /*GEO*/
.mapa {
  text-align: center;
}
/*
==============================================
                FOOTER
==============================================
*/
.pie {
  background-color: #18F555; /*verde*/
  border-radius: 20px;
  margin-bottom: 5px;
}
.redes {
  font-size: 50px;
}
.copyright, .redes {
  text-align: center;
  padding-bottom: 15px;
}
