*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.menuIndex{
    background-color: aliceblue;
    border-radius: 15px;
}
.menuIndex a {
    color: rgba(247, 10, 30, 0.767);
    background-color: rgb(27, 214, 52);
    border-radius: 5px;
    display: block;
}
.menuBarra{
    text-align: right;
}
.menuBarra a {
    background-color: rgb(170, 216, 45);
    border-radius: 20px;
    margin-right: 12px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 8px;
}
a {
    text-decoration: none;
  }
.fa {
      padding: 10px;
      margin: 5px 10px;
      font-size: 60px;
      width: 10px;
      text-decoration: none;
      align-content: center;
    }
h1, h2, h3, .post, .contenido2, .pie {
  text-align: center;
}

/* para que mantenga un ligero ,margen con los elementos que contenga dentro*/
.encabezado, .contenido, .contenido2, .contenido-lateral, .pie {
    padding: 1em 2em;
}

/*para poderlos alinear*/
.contenido, .contenido2, .contenido-lateral, .pie {
    float: left;
    box-sizing: border-box; /*para que mantengan su tamano*/
}
.encabezado{
    background-color: rgb(247, 220, 22);
}
.contenido{
    width: 60%; /*para que solo ocupe el 60% de espacio*/
    height: 550px;
}
.contenido-lateral{
    width: 40%;
    background-color: gray;
    height: 550px;
}
.contenido, .contenido2 {
    background-color: rgba(117, 255, 26, 0.46);
    margin-bottom: 1em;
}
.post, h2, h3 {
  margin-bottom: 1em;
}
.contenido2 {
  width: 100%;
}
.pie{
    width: 100%;
    background-color: skyblue;
}
@media screen and (min-width: 780px) and (max-width: 1720px){
    .encabezado{
        background-color: yellow;
    }
    .contenido{
        height: inherit;
        margin: auto;
    }
    .contenido-lateral{
        height: inherit;
    }
    .menuIndex a {
        margin: 2px;
    }
}
@media screen and (min-width: 480px) and (max-width: 780px){
    .encabezado{
        background-color: rgb(177, 151, 137);
    }
    .menuIndex a{
        text-align: center;
        margin: 2px;
    }
    .contenido{
        height: inherit;
        margin: auto;
    }
    .contenido-lateral{
        height: inherit;
        text-align: center;
    }
    .contenido, .contenido-lateral{
        width: 100%;
    }
    table {
        text-align: center;
    }
}
@media screen and (max-width: 480px){
    
    .contenido{
        background-color: rgb(250, 250, 168);
        height: inherit;
        margin: auto;
    }
    .contenido-lateral{
        height: inherit;
        text-align: center;
    }
    .contenido, .contenido-lateral {
        width: 100%;
        display: block;
    }
   .menuIndex a {
    margin: 1px;
   }
}